[submodule "repo/pm-skills"]
	path = repo/pm-skills
	url = https://github.com/phuryn/pm-skills.git
[submodule "repo/effective-html"]
	path = repo/effective-html
	url = https://github.com/plannotator/effective-html.git
[submodule "repo/last30days-skill"]
	path = repo/last30days-skill
	url = https://github.com/mvanhorn/last30days-skill.git
